.components-container{
        border: 1px solid black;
        text-align: center;
        margin: 0px auto;
        padding: 2rem;
        background-image: url(https://i.scdn.co/image/ab67616d0000b2733df3f43dced9749e0bcb7269);
    }
    
    
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.gril-contener{

    display: grid;
    grid-template-columns:1fr 2fr;
    /* gap: 10px; */
}

.gril-item{
  justify-content: center;
  align-items: center;
}


h1{
  background-color: azure;
  border-radius: 0.5rem;

}
